<div class="container con-background">

<% if current_user %>

  <h5 class="header-color">You are already logged in.</h5>

    <% else %>
  <h1 class="header-color">Log in</h1>
  <%= form_tag sessions_path do %>

  <div class="field secondary-color">
    <%= label_tag :email %><br/>
    <%= text_field_tag :email %>
  </div>

  <div class="field secondary-color">
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </div><br/>

  <div class="actions"><%= submit_tag "Log in", class: "btn-info submit-button" %></div>
  <% end %>
<% end %>
</div>
