<h1>Please Sign Up</h1>
  <%= form_for @user do |f| %>

    <div class="errors">
      <% if @user.errors.any? %>
        <h4 >Please check the form for errors and try again.</h4>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
      <% end %>
    </div>

    <div class="field">
      <p>
        <%= f.label :first_name %><br/>
        <%= f.text_field :first_name %>
      </p>
    </div>

    <div class="field">
      <p>
        <%= f.label :last_name %><br/>
        <%= f.text_field :last_name %>
      </p>
    </div>

    <div class="field">
      <p>
        <%= f.label :email %><br/>
        <%= f.text_field :email %>
      </p>
    </div>

    <div class="field">
      <p>
        <%= f.label :password %><br/>
        <%= f.password_field :password %>
      </p>
    </div>

    <div class="field">
      <p>
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation %>
      </p>
    </div>

    <div class="field">
      <p>
        <%= f.label :phone %><br/>
        <%= f.text_field :phone %>
      </p>
    </div>

    <p><div class="submit"><%= f.submit %></div></p>

  <% end %>