<%= form_for @restaurant do |f| %>

  <% if @restaurant.errors.any? %>
    <h4 class="error-text"><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h4>
    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li class="secondary-error-text"><%= msg %></li>
      <% end %>
    </ul>

  <% end %>

    <p>
      <%= f.label :name, class: "secondary-color" %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :phone, class: "secondary-color" %><br>
      <%= f.text_field :phone %>
    </p>

    <p>
      <%= f.label :address, class: "secondary-color" %><br>
      <%= f.text_field :address %>
    </p>

    <p>
      <%= f.label :description, class: "secondary-color" %><br>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.submit "Submit", class: "btn-info submit-button" %>
    </p>

  <% end %>