<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container" id="flash_class">
    <div class="panel-body">
    <% if flash[:notice] %>
      <h5 id="notice" class="alert alert-success"><%= flash[:notice] %></h5>
    <% end %>
    <% if flash[:alert] %>
      <h5 id="alert" class="alert alert-danger"><%= flash[:alert] %></h5>
    <% end %>
    </div>
  </div>
  <div>
  <% if current_user %>
    <h5> Signed in as <%= current_user.first_name %>. <%= link_to "Log out", session_path("current"), :method => :delete %></h5>
      <% else %>
    <%= %>
  <% end %>
  </div>

<%= yield %>

</body>
</html>
